﻿ @media  only screen and (max-width:500px) {

            .logout {
                display:block!important;
            }
  
        }

        @media  only screen and (min-width:501px) {

            .logout {
                display:none!important;
            }
  
        }